<script src="/js/mirador/mirador.min.js"></script>
<div class="relative w-full">
  <div id="map" class="w-full mb-20 z-0 bg-base-200 max-h-[80vh] h-[40rem]"></div>
</div>

<script type="text/javascript">
  var mirador = Mirador.viewer({
    id: "map",
    selectedTheme: 'dark',
    themes: {
      dark: {
        palette: {
          type: 'dark',
          primary: {
            main: '#A52812'
          }
        },
        typography:{
          fontFamily: ['Alexandria',
                      'sans-serif'
                      ],
        }
      }
    },
    window: { 
      allowClose: false,
      allowFullscreen: true,
      allowMaximize: false,
      allowTopMenuButton: false, 
      allowWindowSideBar: false,
      {% if document.document_type | contains: 'Text' %}
      defaultView: 'book',
      {% else %}
      defaultView: 'single',
      {% endif %}
      hideWindowTitle: true,
      panels: { 
        info: false,
        attribution: false,
        canvas: false,
        annotations: false,
        search: false,
        layers: false,
      }
    },
    thumbnailNavigation: {
      defaultPosition: 'far-right',
      showThumbnailLabels: false,
      width: {% if document.document_type | contains: 'Text' %}40{% else %}80{% endif %}
    },
    windows: [ 
      {
        manifestId: 'https://ticha-iiif.s3.us-east-1.amazonaws.com/ticha/{{ document.slug }}/manifest.json'
      }
    ],
    workspaceControlPanel: {
      enabled: false
    }
  });
</script>