<header class="bg-neutral-dark pt-24 pb-4">
  <div class="xl:container px-5 mx-auto">
    <div class="flex md:flex-nowrap flex-wrap gap-6 w-full items-baseline-last min-h-24 justify-between mb-20">
      <div class="basis-full md:basis-1/3 xl:basis-1/4 lg:pr-12 sm:pr-4">
        <h3 class="text-xs text-accent-light tracking-widest font-medium title-font mb-1 uppercase">{{ section }}</h3>
        <h1 class="sm:text-4xl text-2xl font-bold title-font mb-2 text-text-dark">{{ title }}</h1>
        <div class="h-1 w-20 bg-accent-light rounded mt-4"></div>
      </div>
      <div class="basis-full md:basis-2/3 xl:basis-3/4">
        {% include "partials/searchbar.html" %}
      </div>
    </div>
  </div>
</header>