---
permalink: "{{ page.fileSlug | slugify }}/index.html"
---
<!doctype html>
<html lang="en" id="top" data-theme="light" class="bg-neutral-dark scroll-smooth">
  {% include "partials/head.html" %}
  <body class="flex flex-col min-h-screen overflow-x-clip bg-neutral-dark">
    {% include "components/navbar.html" %}
    <div id="navbar-spacer" class="h-20"></div>
    <section class="flex-1 bg-neutral-light">
    {{ content }}
    </section>
    {% include "components/footer.html" %}
    {% include "partials/scripts.html" %}
  </body>
</html>