---
layout: base
keys:
  - language
  - document_type
  - material_type
  - archive
  - collection
  - call_number
  - page
  - date_digitized
  - year
  - town_modern_official
  - pueblo
  - primary_parties
  - town_short
  - date
  - has_translation
  - transcription
  - scribe
  - is_translation
  - witnesses
  - acknowledgements
  - permission_file
  - interlinear_analysis
  - modern_spanish
---

<header class="bg-[#dbd2bd]">
  <div class="xl:container px-5 py-24 mx-auto">
    <div class="flex flex-wrap w-full">
      <div class="lg:w-1/2 w-full mb-6 lg:mb-0">
        <h3 class="text-xs text-red-700 tracking-widest font-medium title-font mb-1 uppercase">Document</h3>
        <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900">{{ document.title }}</h1>
        <div class="h-1 w-20 bg-red-700 rounded mt-4"></div>
      </div>
      <div class="lg:w-1/2 w-full lg:pl-6">
        <div class="basis-1/6 h-10 md:h-12 text-right text-xl font-bold">
          {% if document.is_translation %}
            <a 
            aria-label="navigate to primary document" 
            href="{{ document.is_translation }}.html"
            class="block text-red-700 hover:text-red-900 -mr-1 tooltip tooltip-bottom" data-tip="Primary Document">
            View Primary Document
          </a>
          {% elsif document.has_translation %}
          <a 
            aria-label="navigate to translation document" 
            href="{{ document.has_translation }}.html"
            class="block text-red-700 hover:text-red-900 -mr-1 tooltip tooltip-bottom" data-tip="Translation Document">
            View Translation Document
          </a>
          {% endif %}
        </div>
      </div>
    </div> 
  </div>
</header>

<main>
  <div class="xl:container px-5 py-24 mx-auto">
    <div class="flex flex-wrap -m-4">
      <div class="p-4 md:w-1/2 w-full">
        <div class="h-[80vh] bg-gray-100 bg-opacity-75 px-8 pt-16 pb-24 rounded-lg overflow-hidden text-center relative">
          <h2 class="tracking-widest text-xs title-font font-medium text-gray-400 mb-1">Document Viewer</h2>
          <p class="leading-relaxed mb-3">TO DO</p>
        </div>
      </div>
      <div class="p-4 md:w-1/2 w-full">
        <div class="h-full px-8 pb-24 rounded-lg overflow-hidden relative">
          {% for key in keys %}
            {% if document[key] %}
              <dt class="font-bold">{{ key | capitalize }}</dt>
              <dd class="pb-4">{{ document[key] }}</dd>
            {% endif %}
          {% endfor %}
        </div>
      </div> 
  </div>
</main>
