@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Alexandria", sans-serif; 
  --color-neutral-light: #F7EFDC;
  --color-neutral-dark: #e6d9bb;
  --color-accent-light: #A52812;
  --color-accent-dark: #7E1010;
  --color-accent-alt-light: #D2CFDE;
  --color-accent-alt-dark: #594B96;
  --color-text-light: #534D54;
  --color-text-dark: #2A222C;
}

::selection {
  background: #D2CFDE;
}

.container {
  max-width: 1280px;
}

#navbar-spacer {
  transition: height 0.2s ease;
}

#mobile-menu {
  transition: opacity 0.2s ease;
}
